<h4>
  post# <%= post.get('id') %>, created at: <%= post.get('created_at') %>
</h4>

<p>
  <% var postRef = post.escape('post_id') %>
  <% if (postRef) { %>
    reply to: <a href="#<%= postRef %>"><%= postRef %></a>
  <% } %>
</p>

<p style="white-space: pre-wrap"><%= post.escape('body') %>
  <br> - <%= post.escape('signature') %>
</p>

<p>
  <% var postLink = post.escape('link') %>
  <% if (postLink) { %>
    link: <a href="<%= postLink %>" target="_blank">
      <% if (postLink.length < 45) { %>
        <%= postLink %>
      <% } else { %>
        <%= postLink.slice(0, 45) %>...
      <% } %>
    </a>
  <% } %>
</p>
