<h4>
  post# <%= post.get('id') %>, created at: <%= post.get('created_at') %>
</h4>

<p>
  <% var postRef = post.get('post_id') %>
  <% if (postRef) { %>
    reply to: <a href="#<%= postRef %>"><%= postRef %></a>
  <% } %>
</p>

<p>
  <%= post.escape('body') %><br>
  - <%= post.escape('signature') %>
</p>

<p>
  <% var postLink = post.get('link') %>
  <% if (postLink) { %>
    link: <a href="<%= postLink %>"><%= _.escape(postLink) %></a>
  <% } %>
</p>
