<h4>
  post# <%= post.get('id') %>, created at: <%= post.get('created_at') %>
</h4>

<p>
  <% var postRef = post.escape('post_id') %>
  <% if (postRef) { %>
    reply to: <a href="#<%= postRef %>"><%= postRef %></a>
  <% } %>
</p>

<p>
  <%= post.escape('body') %><br>
  - <%= post.escape('signature') %>
</p>

<p>
  <% var postLink = post.escape('link') %>
  <% if (postLink) { %>
    link: <a href="<%= postLink %>">
      <% if (postLink.length < 45) { %>
        <%= postLink %>
      <% } else { %>
        <%= postLink.slice(0, 45) %>...
      <% } %>
    </a>
  <% } %>
</p>
