<div class="sidebar">
  <ul id="sidebar-items">
    <li id="auth-info" class="sidebar-item">
      <% if !current_user.nil? %>
        <p style="margin:20px 10px; margin-bottom:0">
          logged in as:<br>
          <%= current_user.username %></p>
        <div style="margin-left:80px">
          <%= button_to "logout", session_url, method: :delete %></div>
      <% else %>
        <p style="margin:20px 10px; margin-bottom:0">
          logged in as: GUEST<br></p>
        <div style="margin-left:80px">
          <%= button_to "login", new_session_url, method: :get %></div>
      <% end %>
    </li>

    <li id="home-li" class="sidebar-item">
      <a href="<%= root_url %>"><span>home</span>
        <img src="/assets/home.png" width="16px"></a>
    </li>

    <li id="soapboxes-li" class="sidebar-item">
      <a href="<%= soapboxes_url %>"><span>soapBoxes</span>
        <img src="/assets/box.png" width="16px"></a>
    </li>

    <li id="lockboxes-li" class="sidebar-item">
      <a href="<%= lockboxes_url %>"><span>lockBoxes</span>
        <img src="/assets/lock.png" width="16px"></a>
    </li>

    <li id="mailboxes-li" class="sidebar-item">
      <a href="<%= mailboxes_url %>"><span>mailBox</span>
        <img src="/assets/mail.png" width="16px"></a>
    </li>

    <li id="inbox-li" class="sidebar-item">
      <a href="<%= inbox_url %>"><span>inBox</span>
        <img src="/assets/inbox.png" width="16px"></a>
    </li>

    <li id="outbox-li" class="sidebar-item">
      <a href="<%= outbox_url %>"><span>outBox</span>
        <img src="/assets/outbox.png" width="16px"></a>
    </li>

    <li id="add-li" class="sidebar-item">
      <a><img src="/assets/add.png" width="16px"></a>
      <div id='add-form'>nothing to add...</div>
    </li>
  </ul>

  <div id="bg-credit" class="fine-print">background courtesy of<br>
    <a href="http://www.subtlepatterns.com/" target="_blank">subtlepatterns.com</a></div>

  <div id="cesario" class="fine-print">app designed by<br>
    <a href="http://www.cesariouy.com" target="_blank">cesario uy</a></div>
</div>