<div class="sidebar">
  <ul id="sidebar-items">
    <li id="auth-info" class="sidebar-item">
      <% if !current_user.nil? %>
        <p style="margin:20px 10px; margin-bottom:0">
          logged in as:<br>
          <%= current_user.username %></p>
        <div style="margin-left:80px">
          <%= button_to "logout", session_url, method: :delete %></div>
      <% else %>
        <p style="margin:20px 10px; margin-bottom:0">
          logged in as: GUEST<br></p>
        <div style="margin-left:80px">
          <%= button_to "login", new_session_url, method: :get %></div>
      <% end %>
    </li>

    <li id="home-li" class="sidebar-item">
      <a href="<%= root_url %>">home</a>
    </li>

    <li id="soapboxes-li" class="sidebar-item">
      <a href="<%= soapboxes_url %>">soapBoxes</a>
    </li>

    <li id="lockboxes-li" class="sidebar-item">
      <a href="<%= lockboxes_url %>">lockBoxes</a>
    </li>

    <li id="mailboxes-li" class="sidebar-item">
      <a href="<%= mailboxes_url %>">mailBox</a>
    </li>

    <li id="inbox-li" class="sidebar-item">
      <a href="<%= inbox_url %>">inBox</a>
    </li>

    <li id="outbox-li" class="sidebar-item">
      <a href="<%= outbox_url %>">outBox</a>
    </li>

    <li id="add-li" class="sidebar-item">
      <a>add new...</a>
      <div id='add-form'>nothing to add...</div>
    </li>
  </ul>

  <div id="bg-credit" class="fine-print">background courtesy of<br>
    <a href="http://www.subtlepatterns.com/">subtlepatterns.com</a></div>

  <div id="cesario" class="fine-print">app designed by<br>
    <a href="http://www.cesariouy.com">cesario uy</a></div>
</div>